
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#videoBackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
}


#searchCountry {
  width: 400%;
  max-width: 300px; 
  padding: 8px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-size: 1em;
  text-align: center;
  border-radius: 8px;
}

button {
  color: #8fb5fd;
  font-size: 1em;
}

button:hover {
  background-color: #4c61fd;
}


#dataCountry {
  list-style: none;
  padding: 20px 15px; /* Ajusta el espacio interno  */
  background: rgba(0, 0, 0, 0.3); /* Fondo completamente transparente (negro) con opacidad del 30% */
  color: azure; /* Color del texto */
  max-width: 400px; /*  ancho máximo */
  margin: 20px auto 0; /* Centra cuadro horizontalmente y agrega un margen superior de 20px */
  border-radius: 8px;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

#searchCountryIcon {
  position: absolute;
  left: 10px; /* Ajusta la posición del icono según tus preferencias */
  color: #575758; /* Cambia el color del icono si es necesario */
}

input[type="text"] {
  padding-left: 30px; /* Ajusta el espacio a la izquierda del input para el icono */
  height: 40px; /* Ajusta la altura del input según tus preferencias */
  font-size: 16px; /* Ajusta el tamaño de la fuente según tus preferencias */
  border: 1px solid #ccc; /* Ajusta el estilo del borde según tus preferencias */
  border-radius: 5px;
  text-align: center;
}