/* Estilos para el formulario de creación de país */
.section-input {
    width: 70%;
    min-height: 700px; /* Cambiado a min-height para permitir que crezca según el contenido */
    background-color: #6483bc;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: auto;
  }
  
  .section-input h1 {
    font-size: 50px;
  }
  
  .section-input p {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container-input {
    width: 80%; /* Ajustado el ancho del contenedor */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    align-items: center;
    text-align: center;
  }
  
  .container-input * {
    height: 18px;
    border-radius: 25px;
    padding: 10px;
  }
  
  .button-create {
    width: 80%; /* Ajustado el ancho del contenedor de botones */
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .button-create * {
    background-color: white;
    color: black;
  }
  